<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ms.edu.course.mapper.CoursePlayHistoryMapper">

    <resultMap id="BaseResultMap" type="com.ms.edu.entity.CoursePlayHistory">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="courseId" column="course_id" jdbcType="INTEGER"/>
            <result property="sectionId" column="section_id" jdbcType="INTEGER"/>
            <result property="lessonId" column="lesson_id" jdbcType="INTEGER"/>
            <result property="historyNode" column="history_node" jdbcType="INTEGER"/>
            <result property="historyHighestNode" column="history_highest_node" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDel" column="is_del" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,course_id,
        section_id,lesson_id,history_node,
        history_highest_node,create_time,update_time,
        is_del
    </sql>
</mapper>
